{% extends 'blog/blog_template.html' %}

{% block content %}
    <h2>{{pagename}}</h2>
    <p>Date joined: {{ date_joined }}</p>
    <p>Number of posts: {{ num_posts }}</p>
    <p>Last post: {{ last_post_date }}</p>
    {% if pagename == request.user.username %}
        <p><a class="btn btn-default" href="{% url 'blog:new_post' %}"><span class="glyphicon glyphicon-plus"></span></a>&emsp; 
        <a href="{% url 'blog:post_drafts' request.user.username %}">Drafts</a></p>
    {% endif %}
    {% for post in posts %}
        <div class='post_view'>
            <p class='post_info'><a href="{% url 'coverTools:user_details' post.author %}">{{ post.author }}</a> | <a class="post_links" href="{% url 'blog:post_detail' post.id %}">{{ post.title }}</a> | {{ post.published_date }} </p>
            <div class='post_content'>
                <p>{{ post.text | linebreaks }}</p>
            </div>
        </div>
        <hr>
    {% endfor %}
    {% if pagename == request.user.username %}
        <p><a href="{% url 'coverTools:delete_user' request.user.username %}">Delete Account: <span class="glyphicon glyphicon-trash"></span></a></p>
    {% endif %}
{% endblock %}

{% block post_index_buttons %}
        {% if posts.has_previous %}
            <a class="next_button" href="?page={{ posts.previous_page_number }}"><button>Previous</button></a>
            {% if not posts.has_next %}
                <br><br>
            {% endif %}
        {% endif %}
        {% if posts.has_next %}
            <a class="next_button" href="?page={{ posts.next_page_number }}"><button type="button">Next</button></a><br><br>
        {% endif %}
    <input type=button value="Return" class="back_link" onClick="javascript:history.go(-1);">
{% endblock %}
