body {
    margin-top: auto;
    margin-left: 10px;
}

hr {
    color: #FF2D00;
    height: 10px;
}

.post_links {
    color: #FF6C00;
}

h1 .page_header {
    font-family: 'Lobster', cursive;
    color: #2EBD17;
}

p {
    font-family: 'Chelsea Market', cursive;
    font-size: 18px;
}
