body {
    margin-top: auto;
    margin-left: 10px;
}

hr {
    color: #FF2D00;
    height: 10px;
}

.post_title_link {
    color: #FF6C00;
}

h1 {
    font-family: 'Lobster', cursive;
    color: #000FFF;
}

p {
    font-family: 'Chelsea Market', cursive;
    font-size: 18px;
}
